
chinese_L-12_H-768_A-12/._bert_model.ckpt.data-00000-of-00001
/data/bob_chat_giftcheating_output
/data/bob_chat_illegalurl_output.bak_20220310
/data/bob_chat_illegalurl_output
/data/bob_output
data/bob_output.7z
/data/weibo_output
chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
